# Python
__pycache__/
*.pyc

# Distribution and packaging
dist
build
*.egg-info/

# PyInstaller
nis2pyr.spec

# Editor
.vscode/*

# Coverage
htmlcov/
.coverage
.coverage.*

# Private
archive
tests/data
